@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
	/* https://github.com/catppuccin/catppuccin?tab=readme-ov-file#-palette */
	--red: #f38ba8;
	--text: #cdd6f4;
	--subtext1: #bac2de;
	--subtext0: #a6adc8;
	--overlay2: #9399b2;
	--overlay0: #6c7086;
	--surface1: #45475a;
	--surface0: #313244;
	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;

	height: 100%;
	color: var(--text);
	user-select: none;
}

:root,
button {
	font-family: "Courier New", Courier, monospace;
}

body {
	margin: 0px;
	height: 100%;
}

button {
	border-width: 0px;
	color: var(--text);
}

button.negative * {
	vertical-align: middle;
}

button.negative:hover {
	background-color: var(--red);
}

button.negative:hover * {
	color: var(--crust);
}
